@model BlogMvsApp.Models.Blog

@{
    ViewBag.Title = "Details";
}



<h1>@Model.Header</h1>
<hr />
<p>
    <span class="glyphicon glyphicon-time"></span>
    @Model.AddingDate
</p>
<hr />
<img class="img-responsive" src="http://placehold.it/900x300" alt="" />
<hr />
<blockquote>
    <p>@Model.Explanation</p>
</blockquote>
<p>
    @Model.Content
</p>


@section SagKolon
{
    <div class="well">
        <h4>Make a Comment:</h4>
        <form role="form">
            <div class="form-group">
                <textarea class="form-control" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Record</button>
        </form>
    </div>
    <div class="well">
        <h4>Blog Search</h4>
        <div class="input-group">
            <input type="text" class="form-control" />
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </div>
    @{ Html.RenderAction("CategoryList", "Category");};
}
