@model IEnumerable<BlogMvsApp.Models.BlogModel>
@{
    ViewBag.Title = "Index";
}

<h2>Blog List</h2>


@Html.Partial("BlogList", Model)



@section SagKolon
{
    @Html.Partial("Search")

    @{ Html.RenderAction("CategoryList", "Category");};


}



